<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Grade</title>
</head>
<body>
    <form action="/grade" METHOD="POST">
        <input type="text" placeholder="First Name" name="firstname">
        <input type="text" placeholder="Last Name" name="lastname">
        <input type="text" placeholder="Subject" name="subject">
        <input type="text" placeholder="Grade" name="grade">
        <input type="submit" value="Grade">
    </form>
</body>
</html>